{% extends 'base.html.twig' %}

{% block title %}New Tshirt{% endblock %}

{% block body %}
    <h1>Create new Tshirt</h1>

    {{ include('tshirt/_form.html.twig') }}

    <a href="{{ path('app_tshirt_index') }}">back to list</a>
{% endblock %}
